<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memory.mapper.SurroundViewMapper" >


    <resultMap id="surroundResultMap" type="com.memory.pojo.SurroundView">
        <id property="arViewId" column="ar_view_id"></id>

        <result property="viewId" column="view_id"></result>
        <result property="arViewName" column="ar_view_name"></result>
        <result property="arViewDesc" column="ar_view_desc"></result>
        <result property="arViewAddress" column="ar_view_address"></result>
        <result property="arViewPrice" column="ar_view_price"></result>
        <result property="arViewDate" column="ar_view_date"></result>
        <result property="arViewType" column="ar_view_type"></result>
        <result property="arViewImg" column="ar_view_img"></result>
        <result property="arViewRecommend" column="ar_view_recommend"></result>
        <result property="arOpenTime" column="ar_open_time"></result>
        <result property="arTicketInfo" column="ar_ticket_info"></result>
        <result property="arBusRouter" column="ar_bus_router"></result>
        <result property="arNetLocate" column="ar_net_locate"></result>
        <result property="arConnectAddress" column="ar_connect_address"></result>
        <result property="arViewDistance" column="ar_view_distance"></result>
    </resultMap>


    <delete id="delete" parameterType="int">
         delete from surround_view
    where ar_view_id = #{arViewId}
    </delete>


    <select id="findById" parameterType="int" resultType="com.memory.pojo.SurroundView">
           select * from surround_view where ar_view_id=#{arViewId}
    </select>

    <select id="findAll"  resultType="com.memory.pojo.SurroundView">
        select * from surround_view
    </select>
    <insert id="insert" parameterType="com.memory.pojo.SurroundView">
        insert into surround_view (view_id,ar_view_name,
                                   ar_view_address, ar_view_price,
                                   ar_view_img,
                                   ar_view_recommend,
                                   ar_view_distance)
        values (#{viewId,jdbcType=VARCHAR},#{arViewName,jdbcType=VARCHAR},
                #{arViewAddress,jdbcType=VARCHAR}, #{arViewPrice,jdbcType=INTEGER},
                #{arViewImg,jdbcType=VARCHAR},
                #{arViewRecommend,jdbcType=VARCHAR},
                #{arViewDistance,jdbcType=VARCHAR})
    </insert>


    <update id="update" parameterType="com.memory.pojo.SurroundView">
        update surround_view set ar_view_name=#{arViewName},
                                 ar_view_address=#{arViewAddress},ar_view_price=#{arViewPrice},
                                 ar_view_recommend = #{arViewRecommend},ar_view_distance = #{arViewDistance}
        where ar_view_id=#{arViewId}

    </update>

    <select id="findByViewId" parameterType="int" resultMap="surroundResultMap">
        select * from surround_view  where view_id=#{viewId}
    </select>

    <select id="findByArViewId" parameterType="int" resultMap="surroundResultMap">
        select * from surround_view where ar_view_id=#{arViewId}
    </select>

    <select id="findByCount" resultType="int">
        select count(*) from surround_view
    </select>

    <select id="findId" parameterType="int" resultType="int">
        select view_id  from surround_view where ar_view_id=#{arViewId}
    </select>
</mapper>

