<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.memory.mapper.ViewPointMapper">

    <resultMap id="BaseResultMap" type="com.memory.pojo.ViewPoint">
        <id column="view_id" property="viewId"/>
        <result column="view_name" property="viewName"/>
        <result column="view_desc" property="viewDesc"/>
        <result column="view_address" property="viewAddress"/>
        <result column="view_price" property="viewPrice"/>
        <result column="view_date" property="viewDate"/>
        <result column="view_type" property="viewType"/>
        <result column="view_img" property="viewImg"/>
        <result column="open_time" property="openTime"/>
        <result column="ticket_info" property="ticketInfo"/>
        <result column="bus_router" property="busRouter"/>
        <result column="net_locate" property="netLocate"/>
        <result column="connect_address" property="connectAddress"/>
    </resultMap>
    <insert id="insert" parameterType="com.memory.pojo.ViewPoint">
        insert into view_point (view_id, view_name, view_desc,
                                view_address, view_price, view_date,
                                view_type, view_img, open_time,
                                ticket_info, bus_router, net_locate,
                                connect_address)
        values (#{viewId,jdbcType=INTEGER}, #{viewName,jdbcType=VARCHAR}, #{viewDesc,jdbcType=VARCHAR},
                #{viewAddress,jdbcType=VARCHAR}, #{viewPrice,jdbcType=INTEGER}, #{viewDate,jdbcType=VARCHAR},
                #{viewType,jdbcType=VARCHAR}, #{viewImg,jdbcType=VARCHAR}, #{openTime,jdbcType=VARCHAR},
                #{ticketInfo,jdbcType=VARCHAR}, #{busRouter,jdbcType=VARCHAR}, #{netLocate,jdbcType=VARCHAR},
                #{connectAddress,jdbcType=VARCHAR})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from view_point
        where view_id = #{viewId}
    </delete>

    <!--    <update id="update" parameterType="com.memory.pojo.ViewPoint">-->
    <!--        update view_point-->
    <!--        <set >-->
    <!--            <if test="viewPoint.viewId != null" >-->
    <!--                view_id = #{viewPoint.viewId,jdbcType=INTEGER},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.viewName != null" >-->
    <!--                view_name = #{viewPoint.viewName,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.viewDesc != null" >-->
    <!--                view_desc = #{viewPoint.viewDesc,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.viewAddress != null" >-->
    <!--                view_address = #{viewPoint.viewAddress,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.viewPrice != null" >-->
    <!--                view_price = #{viewPoint.viewPrice,jdbcType=INTEGER},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.viewDate != null" >-->
    <!--                view_date = #{viewPoint.viewDate,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.viewType != null" >-->
    <!--                view_type = #{viewPoint.viewType,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.viewImg != null" >-->
    <!--                view_img = #{viewPoint.viewImg,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.openTime != null" >-->
    <!--                open_time = #{viewPoint.openTime,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.ticketInfo != null" >-->
    <!--                ticket_info = #{viewPoint.ticketInfo,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.busRouter != null" >-->
    <!--                bus_router = #{viewPoint.busRouter,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.netLocate != null" >-->
    <!--                net_locate = #{viewPoint.netLocate,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--            <if test="viewPoint.connectAddress != null" >-->
    <!--                connect_address = #{viewPoint.connectAddress,jdbcType=VARCHAR},-->
    <!--            </if>-->
    <!--        </set>-->
    <!--        <if test="_parameter != null" >-->
    <!--            <include refid="Update_By_Example_Where_Clause" />-->
    <!--        </if>-->
    <!--    </update>-->


    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        select *
        from view_point
        where view_id = #{viewId}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select *
        from view_point
    </select>
    <select id="findAllByRouter" resultMap="BaseResultMap">
        select *
        from view_point
        order by (select router_count from view_statistic where view_statistic.view_id = view_point.view_id) desc
    </select>
    <select id="findAllByFood" resultMap="BaseResultMap">
        select *
        from view_point
        order by (select food_count from view_statistic where view_statistic.view_id = view_point.view_id) desc;
    </select>
    <select id="findAllByArView" resultMap="BaseResultMap">
        select *
        from view_point
        order by (select ar_view_count from view_statistic where view_statistic.view_id = view_point.view_id) desc
    </select>
    <select id="findAllByHotel" resultMap="BaseResultMap">
        select *
        from view_point
        order by (select hotel_count from view_statistic where view_statistic.view_id = view_point.view_id) desc
    </select>

</mapper>
